.main {
    height: 340px;
    width: 250px;
}

.imgCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
      background-color: rgb(244, 244, 244);
      border-radius: 20px;
}

.img {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    opacity: 90%;
    filter: drop-shadow(0px 0px 20px #5e5e5e);
}

.priceCard {
    display: flex;
    height: 40px;
}

.price{
    margin: 5px;
}

.btnCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.btn {
    background-color: #7ea99a;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
}

